<div class="container-md bg-snow-gray my-8_5 rounded contact">
    <img src="/img/angle-dotted-lines.svg" class="bl-angle d-none d-md-block" alt="">
    <img src="/img/angle-dotted-lines.svg" class="tr-angle d-none d-md-block" alt="">
    <div class="row h-100 align-items-center">
        <div class="d-flex">
            <div class="col m-lg-3">
                <h3>Vous êtes intéressé par
                    <span class="text-LPtoDH">METARISC</span>
                    ?
                </h3>
                <h3>Prenons contact !</h3>
            </div>
            <div class="col d-flex justify-content-center">
                <a class="btn btn-LPtoDH btn-lg border-0 text-light px-md-5 my-auto" href="/contact">Nous
                    contacter</a>
            </div>
        </div>
    </div>
</div>