{% for i in (0..2) %}
<div class="card bg-snow-gray">
    <img src="/img/bg-gradient.jpg" class="rounded card-img-top p-3" alt="..." width="415" height="397">
    <div class="card-body">
        <h5 class="card-title">Titre de l'article</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur. Ullamcorper consequat nullam fringilla id
            imperdiet lorem vel. Interdum aliquam est curabitur nec. Sed dolor ac aliquam vitae. Laoreet proin
            sem
            feugiat aenean elit cursus pretium eu.</p>
        <div class="d-flex justify-content-between">
            <p>Posté le 01/01/2022</p>
            <a href="#" class="btn btn-primary">En voir plus</a>
        </div>
    </div>
</div>
{% endfor %}