---
layout: layouts/home.liquid
eleventyNavigation:
key: poliquesConfidentialite
order: 2
---

<div class="bg-gray">
  <section class="sectionPolitiques">
    <div class="container-fluid m-5">
      <div class="row mx-lg-8">
        <div class="col d-flex flex-column gap-4">
          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Objet de la Politique de Confidentialité</span>
            </span>
          </div>
          <p>
            La présente Politique de Confidentialité décrit la manière dont le GIP METARISC collecte, utilise et protège
            les données
            transmises sur l’application METARISC par les utilisateurs. Cette Politique est conforme aux réglementations
            en vigueur,
            y compris le Règlement Général sur la Protection des Données (RGPD).
          </p>
          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Article 1 : Données Collectées </span>
            </span>
          </div>
          <ul>
            <li><b>1.1. Données d'Identification :</b></li>
            <p>Lors de l'inscription, nous collectons les informations d'identification (nom, prénom, adresse
              électronique) de l'Utilisateur.</p>

            <li><b>1.2. Données d'Utilisation :</b></li>

            <p>Nous collectons des informations sur la manière dont l'Utilisateur interagit avec l'application, y
              compris les actions réalisées, les pages consultées et les préférences de l’Utilisateur.</p>

            <li><b>1.3. Données Techniques :</b></li>

            <p>Certaines données techniques (adresse IP, type de navigateur, informations sur l'appareil) sont
              collectées automatiquement lors de l’utilisation de l'application.</p>
          </ul>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Article 2 : Utilisation des Données</span>
            </span>
          </div>
          Les données collectées sont utilisées pour :
          <ul>
            <li>
              <p>Fournir, maintenir et améliorer l'Application ;</p>
              <p>Base légale : Exécution d’un contrat (article 6.1.b du RGPD)</p>
            </li>
            <li>
              <p>Assurer la sécurité de l'application et des informations traitées ;</p>
              <p>Base légale : Intérêt légitime (article 6.1.f du RGPD).</p>
            </li>
            <li>
              <p>Permettre le suivi des activités et l’identification des utilisateurs autorisés</p>
              <p>Base légale : Exécution d’un contrat (article 6.1.b du RGPD).</p>
            </li>
          </ul>
          <p>
            Aucune donnée personnelle ne sera utilisée à des fins de marketing ou partagée avec des tiers non autorisés
            sans le consentement explicite de l’Utilisateur.
          </p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Article 3 : Conservation des Données</span>
            </span>
          </div>
          <p>Les données personnelles de l’Utilisateur sont conservées pendant toute la durée d’utilisation de
            l'Application.</p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Article 4 : Sécurité des Données</span>
            </span>
          </div>
          <p>
            Le GIP Metarisc s’engage à mettre en œuvre toutes les mesures de sécurité techniques et organisationnelles
            nécessaires pour protéger les données personnelles contre tout accès non autorisé, perte, destruction ou
            divulgation.
          </p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Article 5 : Droits de l'Utilisateur</span>
            </span>
          </div>
          <p>
            Conformément aux réglementations en vigueur, l’Utilisateur dispose des droits suivants concernant ses
            données personnelles :
          </p>
          <ul class="d-flex flex-column gap-2">
            <li>
              Droit d’accès : L’Utilisateur peut obtenir des informations sur les données personnelles le concernant.
            </li>

            <li>
              Droit de rectification : L’Utilisateur peut demander la correction de ses données personnelles
              inexactes.
            </li>

            <li>
              Droit à l’effacement : Sous certaines conditions, l’Utilisateur peut demander la suppression de ses
              données.
            </li>

            <li>Droit à la limitation : L’Utilisateur peut demander la limitation du traitement de ses données.</li>

            <li>
              Droit d’opposition : L’Utilisateur peut s’opposer au traitement de ses données, sous réserve de motifs
              légitimes.
            </li>
          </ul>
          <p>Pour exercer ces droits, l’Utilisateur peut contacter le Délégué à la Protection des Données (DPO) du GIP
            Metarisc via <a href="mailto:metarisc@sdis62.fr">metarisc@sdis62.fr</a> .</p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Article 6 : Modifications de la Politique de Confidentialité</span>
            </span>
          </div>
          <p>
            Le GIP Metarisc se réserve le droit de modifier la présente Politique à tout moment. Les modifications
            seront
            communiquées à l’Utilisateur via l’Application.
          </p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Contact</span>
            </span>
          </div>
          <p>
            Pour toute question relative aux Conditions d'Utilisation ou à la Politique de Confidentialité,
            l'Utilisateur peut contacter le GIP Metarisc via <a
              href="mailto:metarisc@sdis62.fr">metarisc@sdis62.fr</a> .
          </p>
        </div>
      </div>
    </div>
  </section>
</div>