---
layout: layouts/offres.liquid
eleventyNavigation:
key: sis
order: 2
---
    
<div class="container">
    <div class="col my-auto mx-5">
        <div class="row">
            {% include "sislist.liquid" %}
        </div>
    </div>
</div>