---
layout: layouts/home.liquid
eleventyNavigation:
key: solution
order: 2
---

<div class="bg-gray">

    <section class="sectionSolution">
        <div class="container-fluid m-5">
            <div class="row">
                <div class="col">
                    <div class="d-flex pb-3 align-items-center gap-2">
                        <i class="picto-red-dot"></i>
                        <span class="fs-2">La solution </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div
                        class="card d-flex justify-content-center align-items-center border-secondary p-5 h-100 bg-snow-gray">
                        <i class="bi bi-check-lg bg-warning d-flex justify-content-center align-items-center fs-1"></i>
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <span class="card-title fs-2 fw-bold text-center">Dématérialisation ADS</span>
                            <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis nostrum dolorum velit doloremque! Eos amet quo ratione at neque sint, harum
                                eius dicta minus. Quasi nulla molestias vero! Dolorem, enim!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="card d-flex justify-content-center align-items-center border-secondary p-5 h-100 bg-snow-gray">
                        <i class="bi bi-check-lg bg-warning d-flex justify-content-center align-items-center fs-1"></i>
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <span class="card-title fs-2 fw-bold text-center">Cartographie</span>
                            <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Quasi voluptatibus impedit repellat a quam ea minus iure eos nisi voluptate harum,
                                eligendi cupiditate ducimus magni, dignissimos nihil quisquam assumenda nam?</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="card d-flex justify-content-center align-items-center border-secondary p-5 h-100 bg-snow-gray">
                        <i class="bi bi-check-lg bg-warning d-flex justify-content-center align-items-center fs-1"></i>
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <span class="card-title fs-2 fw-bold text-center">Un portail unique et sécurisé</span>
                            <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Perspiciatis enim praesentium quaerat fugiat velit? Molestiae, ex quia! Necessitatibus
                                minima, porro deleniti, dolor, dolores vel omnis facilis sed eius voluptatibus eligendi!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid m-5">

            <div class="row">
                <div class="col">
                    <div class="d-flex pb-3 align-items-center gap-2">
                        <i class="picto-red-dot"></i>
                        <span class="fs-2">Fonctionnalités </span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-2">
                    <div class="nav flex-column nav-pills gap-3 mt-8 mx-2" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <a class="nav-link active bg-transparent p-1" id="v-pills-fct1-tab" data-bs-toggle="pill"
                            href="#nav-fct1" role="tab" data-bs-target="#nav-fct1" aria-controls="#nav-fct1"
                            aria-selected="true">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Titre 1</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-fct2-tab" data-bs-toggle="pill"
                            href="#nav-fct2" role="tab" data-bs-target="#nav-fct2" aria-controls="#nav-fct2"
                            aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Titre 2</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-fct3-tab" data-bs-toggle="pill"
                            href="#nav-fct3" role="tab" data-bs-target="#nav-fct3" aria-controls="#nav-fct3"
                            aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Titre 3</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-fct4-tab" data-bs-toggle="pill"
                            href="#nav-fct4" role="tab" data-bs-target="#nav-fct4" aria-controls="#nav-fct4"
                            aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Titre 4</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-fct5-tab" data-bs-toggle="pill"
                            href="#nav-fct5" role="tab" data-bs-target="#nav-fct5" aria-controls="#nav-fct5"
                            aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Titre 5</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-fct6-tab" data-bs-toggle="pill"
                            href="#nav-fct6" role="tab" data-bs-target="#nav-fct6" aria-controls="#nav-fct6"
                            aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Titre 6</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-8 pb-3 mt-8 me-8 bg-snow-gray">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="nav-fct1" role="tabpanel"
                            aria-labelledby="v-pills-fct1-tab">
                            <p>
                                <span class="fs-2">Titre 1</span><br>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur quibusdam
                                molestiae eius quos natus officia, rerum cumque officiis veniam et quis hic dicta
                                illo asperiores ea, debitis, nam blanditiis molestias?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti soluta
                                nisi quis iure nam autem unde nihil et at fugiat magnam commodi, odit explicabo
                                voluptas? Consectetur eum dolorum quo.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-fct2" role="tabpanel"
                            aria-labelledby="v-pills-fct2-tab">
                            <p>
                                <span class="fs-2">Titre 2</span><br>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur quibusdam
                                molestiae eius quos natus officia, rerum cumque officiis veniam et quis hic dicta
                                illo asperiores ea, debitis, nam blanditiis molestias?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti soluta
                                nisi quis iure nam autem unde nihil et at fugiat magnam commodi, odit explicabo
                                voluptas? Consectetur eum dolorum quo.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-fct3" role="tabpanel"
                            aria-labelledby="v-pills-fct3-tab">
                            <p>
                                <span class="fs-2">Titre 3</span><br>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur quibusdam
                                molestiae eius quos natus officia, rerum cumque officiis veniam et quis hic dicta
                                illo asperiores ea, debitis, nam blanditiis molestias?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti soluta
                                nisi quis iure nam autem unde nihil et at fugiat magnam commodi, odit explicabo
                                voluptas? Consectetur eum dolorum quo.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-fct4" role="tabpanel"
                            aria-labelledby="v-pills-fct4-tab">
                            <p>
                                <span class="fs-2">Titre 4</span><br>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur quibusdam
                                molestiae eius quos natus officia, rerum cumque officiis veniam et quis hic dicta
                                illo asperiores ea, debitis, nam blanditiis molestias?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti soluta
                                nisi quis iure nam autem unde nihil et at fugiat magnam commodi, odit explicabo
                                voluptas? Consectetur eum dolorum quo.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-fct5" role="tabpanel"
                            aria-labelledby="v-pills-fct5-tab">
                            <p>
                                <span class="fs-2">Titre 5</span><br>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur quibusdam
                                molestiae eius quos natus officia, rerum cumque officiis veniam et quis hic dicta
                                illo asperiores ea, debitis, nam blanditiis molestias?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti soluta
                                nisi quis iure nam autem unde nihil et at fugiat magnam commodi, odit explicabo
                                voluptas? Consectetur eum dolorum quo.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-fct6" role="tabpanel"
                            aria-labelledby="v-pills-fct6-tab">
                            <p>
                                <span class="fs-2">Titre 6</span><br>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur quibusdam
                                molestiae eius quos natus officia, rerum cumque officiis veniam et quis hic dicta
                                illo asperiores ea, debitis, nam blanditiis molestias?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti soluta
                                nisi quis iure nam autem unde nihil et at fugiat magnam commodi, odit explicabo
                                voluptas? Consectetur eum dolorum quo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>