---
layout: layouts/home.liquid
eleventyNavigation:
key: solution
order: 2
---

<div class="bg-gray">

    <section class="sectionSolution">
        <div class="container-fluid m-5">
            <div class="row mb-8">
                <div class="col-6">
                    <div class="d-flex pb-3 align-items-center gap-2">
                        <i class="picto-red-dot"></i>
                        <span class="fs-2">La solution </span>
                    </div>
                    <p>METARISC est une solution complète dédiée à l’analyse des risques et de la mise en œuvre des
                        moyens de secours conçue en mode SaaS. Il permet la collecte, le traitement et la consultation
                        des données de prévention et de prévision. A travers ses différents modules, l’application offre
                        une vue d'ensemble de la gestion des risques.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="d-flex pb-3 align-items-center gap-2">
                        <i class="picto-red-dot"></i>
                        <span class="fs-2">Les atouts techniques </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% include "atoutslist.liquid" %}
            </div>
        </div>

        <div class="container-fluid m-5 mt-8">
            <div class="row">
                <div class="col">
                    <div class="d-flex pb-3 align-items-center gap-2">
                        <i class="picto-red-dot"></i>
                        <span class="fs-2">Les modules</span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-8">
                <div class="col-3">
                    <div class="nav flex-column nav-pills gap-3 mt-8 mx-2" id="v-pills-tab-solution" role="tablist"
                        aria-orientation="vertical">
                        <a class="nav-link active bg-transparent p-1" id="v-pills-erpSolution-tab" data-bs-toggle="pill"
                            href="#nav-erpSolution" role="tab" data-bs-target="#nav-erpSolution"
                            aria-controls="#nav-erpSolution" aria-selected="true">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">ERP</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-deciSolution-tab" data-bs-toggle="pill"
                            href="#nav-deciSolution" role="tab" data-bs-target="#nav-deciSolution"
                            aria-controls="#nav-deciSolution" aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">DECI</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-prevIndusSolution-tab" data-bs-toggle="pill"
                            href="#nav-prevIndusSolution" role="tab" data-bs-target="#nav-prevIndusSolution"
                            aria-controls="#nav-prevIndusSolution" aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Prév’INDUS</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-indicateurSolution-tab" data-bs-toggle="pill"
                            href="#nav-indicateurSolution" role="tab" data-bs-target="#nav-indicateurSolution"
                            aria-controls="#nav-indicateurSolution" aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Indicateurs (V3 - 2025)</h5>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link bg-transparent p-1" id="v-pills-rassemblementSolution-tab"
                            data-bs-toggle="pill" href="#nav-rassemblementSolution" role="tab"
                            data-bs-target="#nav-rassemblementSolution" aria-controls="#nav-rassemblementSolution"
                            aria-selected="false">
                            <div class="d-flex gap-2">
                                <div>
                                    <h5 class="fs-3">Grands rassemblements (V3 – 2025)</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 pb-3 mt-8 me-8 bg-snow-gray text-black">
                    <div class="tab-content" id="v-pills-tabContent-solution">

                        <div class="tab-pane fade p-8 show active" id="nav-erpSolution" role="tabpanel"
                            aria-labelledby="v-pills-erpSolution-tab">
                            <p>
                                <span class="fs-2">ERP</span><br>
                            <ul class="d-flex flex-column gap-3">
                                <li>Gestion des établissements</li>

                                <li>Gestion des visites</li>

                                <li>Gestion des commissions,</li>

                                <li>Circuit de validation des études</li>

                                <li>Bibliothèque de prescriptions mise à jour continue des bases de données législatives
                                    et réglementaires pour garantir une conformité permanente des ERP aux normes en
                                    vigueur</li>

                                <li>Tableaux de bord selon profils utilisateurs</li>

                                <li>Plan de charge utilisateurs</li>
                            </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade p-8" id="nav-deciSolution" role="tabpanel"
                            aria-labelledby="v-pills-deciSolution-tab">
                            <p>
                                <span class="fs-2">DECI</span><br>
                            <ul class="d-flex flex-column gap-3">
                                <li>Déclaration des PEI</li>

                                <li>Gestion des PEI</li>

                                <li>Reconnaissance opérationnelle annuelle</li>

                                <li>Gestion des indisponibilités</li>
                            </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade p-8" id="nav-fct3" role="tabpanel" aria-labelledby="v-pills-fct3-tab">
                            <p>
                                <span class="fs-2">Prév'INDUS</span><br>
                            <ul class="d-flex flex-column gap-1">
                                <li>Indicateurs (V3 - 2025)</li>
                                <p class="justify ms-2">La version 3 de METARISC, avec sa capacité à produire des
                                    indicateurs spécifiques,
                                    représentera une évolution significative dans la manière dont les données sont
                                    traitées et utilisées pour répondre aux besoins de reporting et de conformité,
                                    notamment en ce qui concerne INFOSDIS (Information et Documentation des Services
                                    d'Incendie et de Secours).</p>
                                <li>Grands rassemblements (V3 – 2025)</li>
                                <p class="justify ms-2">
                                    Outil de planification pré-événement permet aux autorités locales et aux services
                                    d’incendie et de secours et aux services de secours de gérer efficacement les défis
                                    liés à la sécurité et à la prévention des risques lors de grands rassemblements
                                </p>
                            </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade p-8" id="nav-prevIndusSolution" role="tabpanel"
                            aria-labelledby="v-pills-prevIndusSolution-tab">
                            <p>
                                <span class="fs-2">Prev'INDUS</span><br>
                            <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
                                magnam et corporis provident autem blanditiis quas nam, aut sunt quidem, ullam doloribus
                                expedita natus. Ullam quam et praesentium eius incidunt?</p>
                            </p>
                        </div>
                        <div class="tab-pane fade p-8" id="nav-indicateurSolution" role="tabpanel"
                            aria-labelledby="v-pills-indicateurSolution-tab">
                            <p>
                                <span class="fs-2">Indicateurs (V3 - 2025)</span><br>
                            <p class="justify">La version 3 de METARISC, avec sa capacité à produire des indicateurs
                                spécifiques,
                                représentera une évolution significative dans la manière dont les données sont traitées
                                et utilisées pour répondre aux besoins de reporting et de conformité, notamment en ce
                                qui concerne INFOSDIS (Information et Documentation des Services d'Incendie et de
                                Secours).</p>
                            </p>
                        </div>
                        <div class="tab-pane fade p-8" id="nav-rassemblementSolution" role="tabpanel"
                            aria-labelledby="v-pills-rassemblementSolution-tab">
                            <p>
                                <span class="fs-2">Grands rassemblements (V3 – 2025)</span><br>
                            <p class="justify">La version 3 de METARISC, avec sa capacité à produire des indicateurs
                                spécifiques,
                                représentera une évolution significative dans la manière dont les données sont traitées
                                et utilisées pour répondre aux besoins de reporting et de conformité, notamment en ce
                                qui concerne INFOSDIS (Information et Documentation des Services d'Incendie et de
                                Secours).</p>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>