---
layout: layouts/base.liquid
---

<div class="wrapper">

    <nav class="page-header navbar navbar-expand-lg border-bottom p-3">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.svg" width="178" height="47" class="d-inline-block align-top" alt="">
        </a>
        <div class="container-fluid justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Groupement d'Intérêt Public
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Lorem</a></li>
                        <li><a class="dropdown-item" href="#">Lorem</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Solution
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Lorem</a></li>
                        <li><a class="dropdown-item" href="#">Lorem</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Intégration</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Offres
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Lorem</a></li>
                        <li><a class="dropdown-item" href="#">Lorem</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Ressources
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Lorem</a></li>
                        <li><a class="dropdown-item" href="#">Lorem</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="mailto:metarisc@sdis62.fr">Contact</a>
                </li>

                <li class="nav-item m-1">
                    <a class="btn btn-sm btn-primary" href="https://app.metarisc.fr" target="_blank">
                        Accéder à l'application
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="page-body">
        {{ content }}
    </main>

    <div class="container-fluid page-footer text-light" style="background-color: #36393d">
        <div class="container-fluid w-75">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-4 my-4">
                <div class="col mb-3">
                    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        <img src="/img/logo.svg" width="178" height="47" alt="">
                    </a>
                </div>
                <div class="col mb-3">
                    <h5 class="mb-3"><a href="#" class="nav-link text-light p-0">Accueil</a></h5>
                    <ul class="nav flex-column m-2 gap-1">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Le GIP</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">À propos</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Adhérer</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Les membres</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Les équipes</a>
                        </li>
                    </ul>
                    <h5 class="mt-3"><a href="#" class="nav-link text-light p-0">Contact</a></h5>
                </div>
                <div class="col mb-3">
                    <h5 class="mb-3"><a href="#" class="nav-link text-light p-0">Solution</a></h5>
                    <ul class="nav flex-column m-2">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">SIS</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Collectivités</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Préfectures</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Gestionnaires des eaux</a>
                        </li>
                    </ul>
                    <h5 class="mt-3"><a href="#" class="nav-link text-light p-0">Offres</a></h5>
                </div>
                <div class="col mb-3">
                    <h5 class="mb-3"><a href="#" class="nav-link text-light p-0">Développement</a></h5>
                    <h5 class="mb-3"><a href="#" class="nav-link text-light p-0">Intégration</a></h5>
                    <h5 class="mb-3"><a href="#" class="nav-link text-light p-0">Ressources</a></h5>
                    <ul class="nav flex-column m-2">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Communauté</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-light p-0">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="d-flex mb-4 gap-4">
                        <a href="#"><i class="bi bi-linkedin text-light"></i></a>
                        <a href="#"><i class="bi bi-twitter-x text-light"></i></a>
                        <a href="#"><i class="bi bi-github text-light"></i></a>
                        <a href="#"><i class="bi bi-youtube text-light"></i></a>
                    </div>
                    <div class="row mb-2">
                        <h5 class="mb-4">Adresse : 18 rue René CASSIN, 62223,
                            Saint Laurent-Blangy</h5>
                        <h5 class="mb-4"><a href="mailto:metarisc@sdis62.fr" class="nav-link text-light p-0">Mail :
                                metarisc@sdis62.fr</a></h5>
                        <h5 class="mb-4">Numéro : 00.00.00.00.00</h5>
                    </div>
                </div>
                <div class="row divider mt-5 w-100">
                    <div class="d-flex justify-content-center my-5 gap-4">
                        <a href="#" class="text-light">
                            <h5>Mentions légales</h5>
                        </a>
                        <a href="#" class="text-light">
                            <h5>Politique de confidentialité</h5>
                        </a>
                        <a href="#" class="text-light">
                            <h5>Gestion des cookies</h5>
                        </a>
                        <a href="#" class="text-light">
                            <h5>Conditions Générales</h5>
                        </a>
                        <a href="#" class="text-light">
                            <h5>Accessibilité</h5>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>