@use "animations";
@use "color";
@use "post";
@use "picto";

@use "global/base";
@use "global/footer";
@use "global/navbar";
@use "global/contactRow";

@use "contact/sectionContact";

@use "offres/sectionOffres";

@use "integrations/sectionIntegration";

@use "propos/sectionPropos";

@use "solution/sectionSolution";

@use "home/firstSection";
@use "home/secondSection";
@use "home/thirdSection";
@use "home/fourthSection";
@use "home/fifthSection";


$spacer: 0.5rem;

@forward '../../node_modules/bootstrap/scss/bootstrap' with (
  $btn-border-radius: 0.5rem, 
  $border-radius: 0.5rem,
  $font-size-base: 1rem,
  $h1-font-size: 3rem,
  $h2-font-size: 2rem,
  $h3-font-size: 1.5rem,
  $h4-font-size: 1.25rem,
  $h5-font-size: 1rem,
  $h6-font-size: 0.75rem,
  $nav-link-hover-color: #09806D,
  $spacers: (
    0: 0,
    0_5: calc($spacer / 2), // 4px
    1: $spacer * 1, // 8px
    1_5: $spacer * 1.5, // 12px
    2: $spacer * 2, // 16px
    2_5: $spacer * 2.5, // 20px
    3: $spacer * 3, // 24px
    3_5: $spacer * 3.5, // 28px
    4: $spacer * 4, // 32px
    4_5: $spacer * 4.5, // 36px
    5: $spacer * 5, // 40px
    5_5: $spacer * 5.5, // 44px
    6: $spacer * 6, // 52px
    6_5: $spacer * 6.5, // 60px
    7: $spacer * 7, // 68px
    7_5: $spacer * 7.5, // 76px
    8: $spacer * 8, // 84px
    8_5: $spacer * 8.5, // 92px
  ),
  $enable-negative-margins: true
);