html,
body {
  background-image: url("../img/bg-gradient.jpg");
  background-size: 100%;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.background-ico {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  background-color: #D01F3C;
}

.container-fluid .nav-link {
  color: white;
}

.navbar-nav {
  gap: 16px
}

.page-header .navbar-item {
  margin-left: 16px;
  margin-right: 16px;
  font-weight: 500;
}

.navbar-brand {
  padding-left: 32px;
}

.page-footer h5 {
  font-size: 16px;
  font-weight: 500;
}

.page-footer .sections {
  column-gap: 104px;
}

.no-style-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-header {
  height: 63px;
  width: 100%;
  background-color: #495057;
  border: 1px solid var(--Smoked-Pearl, #495057);
  box-shadow: 0px 1px 6px 0px rgba(240, 240, 240, 0.32);
  border: none !important;
}

h1 {
  font-size: 48px;
  line-height: 56px;

  span {
    color: red;
  }
}

h2 {
  font-size: 32px;
  font-weight: 600;

  span {
    color: red;
  }
}

.bg-gray {
  flex: 1 0 auto;
  background: #36393d;
}

.page-body {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.padding {
  padding-top: 25%;
  padding-bottom: 13em;
}

.resize {
  height: 1000px;
}

.nav-underline {
  text-decoration: none;

  .nav-link {
    color: white;
  }
}

.screens {
  background-image: url(/img/screens.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.scroll {
  font-style: italic !important;

  i {
    animation: 500ms ease-in infinite alternate scrollAnim;
  }
}

@keyframes scrollAnim {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}

.nav-underline {
  .nav-link {
    font-weight: 600;
  }

  .nav-link[aria-selected='true'] {
    color: var(--bs-primary);
  }
}

.screen {
  background-image: url(/img/screen.png);
  background-repeat: no-repeat;
  position: relative;
  width: 1309px;
  height: 926px;
}

.dotted-lines {
  background-image: url(/img/dotted-lines.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -4%;
  width: 469px;
  height: 1047px;
}

.news {
  text-decoration: none;

  .label {
    color: white;
    font-size: 14px;
    border: 1px solid var(--card, #fff);
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 0.918px 7.342px 0px rgba(94, 94, 94, 0.07);
    backdrop-filter: blur(14.619999885559082px);
  }

  span {
    border-radius: 4px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dots {
  display: flex;
  align-items: start;
  justify-content: baseline;
}

.bg-snow {
  border: 1px solid var(--card, #fff) !important;
  background: rgba(255, 255, 255, 0.24) !important;
  box-shadow: 0px 0.918px 7.342px 0px rgba(94, 94, 94, 0.07) !important;
  backdrop-filter: blur(12px) !important;
}

.bg-snow-gray {
  border-radius: 6.936px !important;
  border: 0.867px solid var(--card, #FFF) !important;
  background: var(--card, rgba(255, 255, 255, 0.54)) !important;
}

.contact {
  height: 11em;

  h3,
  span {
    font-size: 28px;
    font-weight: 600;
  }

  .btn {
    font-size: 20px;
    font-weight: 600;
  }
}

.soluce {
  border-radius: 8px;

  a {
    text-decoration: none;
  }

  .card {
    border-color: transparent !important;
    width: 296px;
    height: 255px;

    .card-body {

      .bi {
        color: white;
        font-size: 25px;
        margin-right: 1em;
      }

      .card-title {
        font-size: 20px;
        font-weight: 600;
        text-wrap: nowrap;
      }

    }

    img {
      height: 174px;
      width: 225px;
      align-self: flex-end;
    }

  }

  &:hover {
    transform: scale(1.03);
    background: rgba(255, 255, 255, 0.32);
    transition-duration: 250ms;
  }

  &:not(:hover) {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.24);
    transition-duration: 250ms;
  }

}

.nav-pills {

  h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.16) !important;
  }

  a[aria-selected=true] {
    border: 1px solid var(--card, #fff) !important;
    background: rgba(255, 255, 255, 0.24) !important;
    box-shadow: 0px 0.918px 7.342px 0px rgba(94, 94, 94, 0.07) !important;
    backdrop-filter: blur(12px) !important;
    font-weight: 600;
    line-height: 24px;
    padding-left: 20px;

    p {
      font-size: 15px;
    }
  }

  a:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    right: -15px;
    border-left: 1px solid white;
    z-index: -1;
  }

  a[aria-selected='false'] {
    height: auto !important;
    width: auto !important;

    i {
      color: transparent;
    }
  }
}

.hidden {
  overflow: hidden;
  position: relative;
}

#v-pills-tabContent {
  .tab-pane{
    box-shadow: -2px 8px 8px 0px rgba(255, 255, 255, 0.24), -3px -1px 4px 0px rgba(255, 255, 255, 0.25);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100em;
    height: 51em;
  }
}

#nav-erp {
  background-image: url(/img/secteurs-activites/erp.svg);
}

#nav-deci {
  background-image: url(/img/secteurs-activites/deci.svg);
}

#nav-icpe {
  background-image: url(/img/secteurs-activites/icpe.svg);
}

#nav-manif {
  background-image: url(/img/secteurs-activites/manif.svg);
}

.carousel-item .card .card-body {
  .card-title {
    font-size: 24px;
    font-size: 20px;
    font-weight: 600;
  }

  .card-text {
    font-size: 16px;
    font-weight: 400;
  }

}

.carousel-indicators .active {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.intro {
  display: flex;
  align-items: center;
}

.page-header,
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.page-footer {
  position: relative;
  bottom: 0;
  background-color: #36393d;
  box-shadow: 0px -11px 17px 0px rgba(255, 255, 255, 0.08);

  .bi {
    font-size: 25px;
  }

}

.divider {
  border-top: 1px solid gray;

  a {
    text-decoration: none;
  }
}

/* .tr-angle {
  position: absolute;
  right: 120px;
  top: 269em;

  img {
    rotate: 180deg;
  }
}

.bl-angle {
  position: absolute;
  top: 282em;
  left: 120px
} */

.grid-3 {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.post {
  p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: justify;
  }

  h3 {
    font-size: 20px;
  }
}