@use "gradient";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";
$lagoon: linear-gradient(90deg, #4EB9A8 0%, #4EB9A8 0.01%, #09806D 100%);

// GLOBAL
html,
body {
  font-size: 16px;
  font-family: 'Fira Sans';
  color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.page-body {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.red-dot {
  width: 24px;
  height: 24px;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

.no-style-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bg-gray {
  flex: 1 0 auto;
  background: #36393d;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bg-snow {
  border: 1px solid #fff !important;
  background: rgba(255, 255, 255, 0.24) !important;
  box-shadow: 0px 0.918px 7.342px 0px rgba(94, 94, 94, 0.07) !important;
  backdrop-filter: blur(12px) !important;
}

.bg-snow-gray {
  border-radius: 6.936px !important;
  border: 0.867px solid  #FFF !important;
  background: rgba(255, 255, 255, 0.54) !important;
}

.hidden {
  overflow: hidden;
  position: relative;
}

.divider {
  border-top: 1px solid gray;

  a {
    text-decoration: none;
  }
}

.grid-3 {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.page-header,
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}

// NAVBAR 
.page-header {
  height: 63px;
  width: 100%;
  background-color: #495057 !important;
  border: 1px solid var(--Smoked-Pearl, #495057);
  box-shadow: 0px 1px 6px 0px rgba(240, 240, 240, 0.32);
  border: none !important;
}

.navbar-toggler-icon {
  color: white;

}

.page-header .navbar-item {
  margin-left: 16px;
  margin-right: 16px;
  font-weight: 500;
}

.navbar-brand {
  padding-left: 32px;
}


// FOOTER
.page-footer {
  h5 {
    font-size: 16px;
    font-weight: 500;
  }
  .sections {
    column-gap: 104px;
  }
  position: relative;
  bottom: 0;
  background-color: #36393d;
  box-shadow: 0px -11px 17px 0px rgba(255, 255, 255, 0.08);

  .bi {
    font-size: 25px;
  }

}


// PREMIRE SECTION
.firstSection {
  background-image: url("../img/bg-gradient.jpg");
  background-size: cover;
}

.news {
  text-decoration: none;

  .label {
    text-wrap: balance;
    color: white;
    font-size: 14px;
    line-height: 40px;
    font-weight: lighter;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 0.918px 7.342px 0px rgba(94, 94, 94, 0.07);
    backdrop-filter: blur(14.619999885559082px);
  }

  span {
    border-radius: 4px;
  }
}

.resize {
  height: 1000px;
}

.scroll {
  font-style: italic !important;

  i {
    animation: 500ms ease-in infinite alternate scrollAnim;
  }
}

.screens {
  background-image: url(/img/screens.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dots {
  display: flex;
  align-items: start;
  justify-content: baseline;
}

// DEUXIEME SECTION 
.soluce {
  border-radius: 8px;

  a {
    text-decoration: none;
  }

  .card {
    border-color: transparent !important;
    width: 296px;
    height: 255px;

    .card-body {

      .bi {
        color: white;
        font-size: 25px;
        margin-right: 1em;
      }

      .card-title {
        font-size: 20px;
        font-weight: 600;
        text-wrap: nowrap;
      }

    }

    .card-img {
      height: 174px;
      width: 225px;
    }

  }

  &:hover {
    transform: scale(1.03);
    background: rgba(255, 255, 255, 0.32);
    transition-duration: 250ms;
  }

  &:not(:hover) {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.24);
    transition-duration: 250ms;
  }

}

// TROISIEME SECTION
.nav-underline {
  text-decoration: none;
  font-weight: 600;

  .nav-link.active {
    background: $lagoon;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: $lagoon;
    border-bottom-color: #09806D;
  }

  .nav-link {
    color: white;
  }
}

.screen {
  background-image: url(/img/screen.png);
  background-repeat: no-repeat;
  position: relative;
  width: 1309px;
  height: 926px;
}

.dotted-lines {
  background-image: url(/img/dotted-lines.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -5%;
  width: 469px;
  height: 1047px;
}


// QUATRIEME SECTION
.nav-pills {

  h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  a {
    color: white;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.16) !important;
    color: white;
  }

  a.active {
    border: 1px solid var(--card, #fff) !important;
    background: rgba(255, 255, 255, 0.24) !important;
    box-shadow: 0px 0.918px 7.342px 0px rgba(94, 94, 94, 0.07) !important;
    backdrop-filter: blur(12px) !important;
    font-weight: 600;
    line-height: 24px;
    padding-left: 20px;

    p {
      font-size: 15px;
    }
  }

  a:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    right: -15px;
    border-left: 1px solid white;
    z-index: -1;
  }

  a[aria-selected='false'] {
    height: auto !important;
    width: auto !important;

    i {
      color: transparent;
    }
  }
}

#v-pills-tabContent {
  .tab-pane {
    box-shadow: -2px 8px 8px 0px rgba(255, 255, 255, 0.24), -3px -1px 4px 0px rgba(255, 255, 255, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100em;
    height: 51em;
  }

}

#nav-erp {
  background-image: url(/img/secteurs-activites/erp.svg);
}

#nav-deci {
  background-image: url(/img/secteurs-activites/deci.svg);
}

#nav-icpe {
  background-image: url(/img/secteurs-activites/icpe.svg);
}

#nav-manif {
  background-image: url(/img/secteurs-activites/manif.svg);
}


// CINQUIEME SECTION
.carousel-item .card .card-body {
  .card-title {
    font-size: 24px;
    font-size: 20px;
    font-weight: 600;
  }

  .card-text {
    font-size: 16px;
    font-weight: 400;
  }

}

.carousel-indicators .active {
  margin: 0;
  padding: 0;
  font-size: 24px;
}


// SIXIEME SECTION
.contact {
  height: 11em;

  h3,
  span {
    font-size: 28px;
    font-weight: 600;
  }

  .btn {
    font-size: 20px;
    font-weight: 600;
  }
}

/* .tr-angle {
  position: absolute;
  right: 120px;
  top: 269em;

  img {
    rotate: 180deg;
  }
}

.bl-angle {
  position: absolute;
  top: 282em;
  left: 120px
} */


// POST 

.post {
  p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: justify;
  }

  h3 {
    font-size: 20px;
  }
}

// ANIMATION 
@keyframes scrollAnim {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}

// RESPONSIVE
@media (max-width: 991px) {
  #navbarSupportedContent {
    position: relative;
    background: $secondary
  }
}