---
layout: layouts/home.liquid
eleventyNavigation:
key: Home
order: 1
---

<div class="firstSection py-5">
  <img src="/img/dots.svg" width="108" height="29" alt="">
  <div class="row row-cols-2">
    <div class="col">
      <h1 class="display-5 fw-bold"><span>METARISC</span>, portail unique pour des risques multiples</h1>
      <p>
        Un portail opérationnel unique conçu en mode SaaS, disponible à tout moment et en tout lieu,
        permettant de collecter, enregistrer et consulter vos données de prévention et de prévision.
      </p>
      <a class="btn btn-md" href="#">Découvrir le projet</a>
      <div class="row">
        <a class="news my-4" href="#">
          <span class="label py-2 px-2">
            <span class="py-1 px-1">Important</span>
            Le site metarisc est en construction. Le release de la V.1 en Avril
          </span>
        </a>
      </div>
    </div>
    <div class="col">
      <img src="/img/screens.svg" class="screensImg" alt="">
    </div>
  </div>
</div>

<section class="secondSection">
  <h2>Suite</h2>
</section>