---
layout: layouts/home.liquid
eleventyNavigation:
key: Home
order: 1
---

{% comment %} <!-- PREMIRE SECTION -->
<!-- Titre, label des nouveautés -->
<!-- Un container-fluid -> une row -> 2 cols --> {% endcomment %}
<section class="firstSection">
  <div class="container-fluid">
    <div class="row d-flex gap-5 justify-content-between">
      <div class="col-xl-5 resize">
        <div class="h-100 d-flex align-items-center">
          <div class="ms-7_5">
            <i class="picto-dots mt-3_5"></i>
            <h1 class="py-2">
              <span class="text-LPtoDH">METARISC</span>, portail unique pour des risques
              multiples
            </h1>
            <p>
              Un portail opérationnel unique conçu en mode SaaS, disponible à tout moment et en tout lieu,
              permettant de collecter, enregistrer et consulter vos données de prévention et de prévision.
            </p>
            <a class="btn btn-lagoon border-0 mb-2 text-light px-1_5 py-1 mt-1_5" href="/solution">
              Découvrir le projet
            </a>
            <div class="row">
              <a class="news col-xxl-12 col-xl-9 col-md-9 d-inline-flex mt-3_5" href="#fifthSection">
                <p class="label p-1" style="border-radius: 4px;">
                  <span class="px-1_5 py-1 me-2 bg-warning">Important</span>
                  Le site metarisc est en construction. Le release de la V.1 en Avril
                </p>
              </a>
            </div>
            <div class="d-flex gap-1_5 pt-5 mt-5 scroll align-content-end">
              <i class="bi bi-arrow-down-square-fill"></i>
              <p>SCROLL</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl screens"></div>
    </div>
  </div>
</section>

{% comment %} <!-- Créé le fond gris sur le reste de la page --> {% endcomment %}
<div class="bg-gray pb-5">
{% comment %} 
  <!-- SECONDE SECTION -->
  <!-- Liste des solutions -->
  <!-- Un container-fluid -> une row en display flex -> une row avec les cards --> {% endcomment %}
  <section class="secondSection">
    <div class="container-fluid pb-5">
      <div class="row mb-3_5 mx-lg-8">
        <div class="col-xl-5">
          <div class="d-flex align-items-center gap-2 pb-3 mt-8">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Un profil, une solution</span>
          </div>
        </div>
      </div>

      <div class="row gx-0 gap-4 my-3 mx-lg-8 px-6_5">
        {% include "soluceslist.liquid" %}
      </div>
    </div>
  </section>
{% comment %} 
  <!-- TROISIEME SECTION -->
  <!-- Navs / Tabs, 2 images -->
  <!-- Un container-fluid -> une row -> une col avec les tabs & texte -> une col avec les images --> {% endcomment %}
  <section class="thirdSection">
    <div class="container-fluid">
      <div class="row mb-5 ms-lg-8 mx-1">
        <div class="col-xl-5">
          <div class="d-flex align-items-center gap-2 pb-3 my-5 py-5">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Pourquoi choisir METARISC ?</span>
          </div>

          <nav>
            <ul class="nav nav-underline d-flex flex-column flex-sm-row gap-2 mb-5 w-auto mx-lg-1" id="nav-tab"
              role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#portail" id="nav-portail-tab" aria-current="page" data-bs-toggle="tab"
                  data-bs-target="#portail" role="tab" aria-controls="#portail" aria-selected="true">Un portail
                  unique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#demat" id="nav-demat-tab" data-bs-toggle="tab" data-bs-target="#demat"
                  role="tab" aria-controls="#demat" aria-selected="false">Dématérialisation des processus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#securise" id="nav-securise-tab" data-bs-toggle="tab"
                  data-bs-target="#securise" role="tab" aria-controls="#securise" aria-selected="false">Sécurisé et
                  sécurisant</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#club" id="nav-club-tab" data-bs-toggle="tab" data-bs-target="#club"
                  role="tab" aria-controls="#club" aria-selected="false">Club utilisateur</a>
              </li>
            </ul>
          </nav>

          <div class="tab-content mx-lg-1" id="nav-tabContent">

            <div class="col tab-pane show active fade" id="portail" role="tabpanel" aria-labelledby="nav-portail-tab">
              <h5 class="fs-2">
                <span class="text-LPtoDH">METARISC</span>, portail unique pour des risques multiples
              </h5>
              <p>
                Un portail unique : Metarisc est une plateforme sous la forme d’une application web mutualisée en mode
                SAAS sécurisée.
              </p>
              <p>
                Il a pour ambition de répondre à l’ensemble des problématiques que les métiers de la prévention et de la
                prévision peuvent rencontrer au sein des services d’incendie et de secours.
              </p>
              <p>
                C’est également une passerelle entre ces différents métiers et services, notamment avec la mutualisation
                de l’information.
              </p>
              <p>
                Il fusionne plusieurs solutions (cartographie, dématérialisation, gestion ERP, DECI…) au profit d’une
                solution unique.
              </p>
              <p>
                Portail unique pour l’ensemble des SIS utilisateurs mais aussi ouvert à l’ensemble des acteurs qui
                peuvent intervenir dans
                le traitement des études (exemple : déclaration d’un PEI par un exploitant gestionnaire de réseau
                d’eau). Ainsi les multiples
                vecteurs d’information sont remplacés par la plateforme METARISC.</p>
              </p>
            </div>

            <div class="col tab-pane fade" id="demat" role="tabpanel" aria-labelledby="nav-demat-tab">
              <p>
                METARISC intègre de manière intrinsèque la connexion avec PLAT'AU (Plateforme des Autorisations
                d'Urbanisme),
                permettant une interopérabilité fluide et directe. Le partage automatique et sécurisé des informations
                et des
                documents entre les deux systèmes facilite la conformité aux exigences légales et réglementaires.
              </p>
            </div>

            <div class="col tab-pane fade" id="securise" role="tabpanel" aria-labelledby="nav-securise-tab">
              <p>
                En collaboration avec l'hébergeur français Scaleway, METARISC a été développé sur une architecture
                logicielle
                novatrice, full-API, apportant un haut niveau de résilience et de performance. Une équipe technique
                développe de façon
                continue le système centralisé METARISC, apportant des nouvelles versions à tous rapidement. Un SAV
                réactif est à votre
                disposition et vous aide à garantir l'opérationnalité de votre outil de gestion des risques. Normalisant
                les échanges,
                METARISC est interopérable nativement. La sécurité des données et la sécurisation des accès sont
                adressées by design par
                un développement pensé et projeté dans le respect de l'ISO 27001 et des règles du RGPD.
              </p>
              <br>
              <p>
                Metarisc intègre le Single Sign-On (SSO), permettant une gestion sécurisée et centralisée des accès aux
                multiples services cloud.
                Cette approche réduit les risques de sécurité liés aux mots de passe multiples, en offrant une
                authentification unique pour accéder à
                l'ensemble des ressources. Le SSO simplifie l'expérience utilisateur tout en renforçant les contrôles de
                sécurité, facilitant ainsi la
                gestion des identités et des accès. En outre, cela améliore l'efficacité administrative en minimisant le
                besoin de réinitialiser ou de
                récupérer des mots de passe, contribuant à une meilleure posture de sécurité globale.
              </p>
            </div>

            <div class="col tab-pane fade" id="club" role="tabpanel" aria-labelledby="nav-club-tab">
              <p>
                Les adhérent et utilisateurs actifs de Metarisc pourront rejoindre le club utilisateur de notre
                application.
              </p>
              <p>
                Son objectif principal est de favoriser l'interaction entre les utilisateurs et les développeurs du
                logiciel,
                ainsi que de promouvoir une meilleure utilisation du produit. Le club utilisateur offre plusieurs
                avantages, notamment :
              </p>
              <ul class="d-flex flex-column gap-2">
                <li>
                  Échange d'expériences : Les membres du club partagent leurs expériences, bonnes pratiques, et astuces
                  sur l'utilisation du logiciel, ce qui favorise une meilleure compréhension et exploitation de ses
                  fonctionnalités.
                </li>
                <li>
                  Rétroaction constructive : Les utilisateurs peuvent faire part de leurs retours d'expérience,
                  suggestions d'amélioration,
                  et besoins spécifiques à l’équipe production du logiciel, contribuant ainsi à son évolution.
                </li>
                <li>
                  Formation continue : Le club utilisateur peut organiser des sessions de formation, des webinaires, des
                  tutoriels,
                  pour aider les membres à maîtriser davantage le logiciel et à tirer le meilleur parti de ses
                  fonctionnalités.
                </li>
                <li>
                  Influence sur le développement du produit : En regroupant les utilisateurs autour d'une même
                  plateforme, le club peut influencer les décisions de
                  développement du fournisseur en mettant en avant les besoins et les priorités de ses membres.
                </li>
                <li>
                  Réseautage professionnel : Les membres peuvent établir des liens professionnels, échanger des
                  contacts, et développer leur au sein du club.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xl-6 d-none d-xl-block">
          <div class="dotted-lines">
            <img src="/img/screen.png" alt="ecran-demo-metarisc" style="visibility: hidden;">
          </div>
          <div class="screen mt-8_5">
            <img src="/img/dotted-lines.png" alt="" aria-hidden="true" style="visibility: hidden;">
          </div>
        </div>
      </div>

    </div>
  </section>

  {% comment %} <!-- QUATRIEME SECTION -->
  <!-- Navs / Tabs, 4 images (fonctionne avec ./scripts/script.js) -->
  <!-- Un container-fluid -> une row -> une col avec les tabs -> une col avec les images --> {% endcomment %}
  <section class="fourthSection">
    <div class="container-fluid px-5 pb-5 mb-5">
      <div class="row mb-5 mx-lg-8">
        <div class="col-xl-5">
          <div class="d-flex align-items-center gap-2 pb-3 mt-5 pt-5">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Secteurs d'activités</span>
          </div>
          <p class="me-5_5">
            METARISC est une solution complète dédiée à l’analyse des risques et de la mise en œuvre des moyens de
            secours conçue en mode SaaS.
            Il permet la collecte, le traitement et la consultation des données de prévention et de prévision. A travers
            ses différents modules,
            l’application offre une vue d'ensemble de la gestion des risques.
            <br>
            La solution est destinée aux services d’incendie et de secours mais également aux collectivités
            territoriales qui pourront gérer et/ou consulter :
          <ul>
            <li>Les dossiers des établissements implantés sur leurs territoires</li>

            <li>Les commissions de sécurité,</li>

            <li>Les visites et leur périodicité.</li>
          </ul>
          </p>

          <div class="nav flex-column nav-pills gap-3 mt-8 mx-2" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">

            <a class="nav-link active bg-transparent nav-secteur p-1" id="v-pills-erp-tab" data-bs-toggle="pill"
              href="#nav-erp" role="tab" data-bs-target=".erp" aria-controls="#nav-erp" aria-selected="true">
              <div class="d-flex gap-2">
                <i class="picto picto-erp"></i>
                <div>
                  <h5>ERP - Habitation - ADS</h5>
                  <div>
                    <p>
                      Gestion des établissements recevant du public :
                    <ul>
                      <li>Commissions de sécurité : planification, ordre du jour, membres, études, avis.</li>

                      <li>Visites : planification, périodicité, avis...
                      </li>

                      <li>Géolocalisation, main courante, aide au calcul d’effectif...</li>
                    </ul>
                    </p>
                    <p>Gestion des autorisations d’urbanisme
                    <ul>
                      <li>Connexion PLAT’AU - Dématérialisation
                      </li>
                      <li>Dématérialisation des demandes d’autorisations d’urbanisme : permis de construire, certificats
                        d’urbanisme...
                      </li>
                    </ul>
                    </p>
                  </div>
                </div>
                <div class="arrow-right d-flex align-items-center justify-content-end">
                  <i class="bi bi-arrow-right-square-fill fs-4"></i>
                </div>
              </div>
            </a>

            <a class="nav-link bg-transparent nav-secteur p-1" id="v-pills-deci-tab" data-bs-toggle="pill"
              href="#nav-deci" role="tab" data-bs-target=".deci" aria-controls="#nav-deci" aria-selected="false">
              <div class="d-flex gap-2">
                <i class="picto picto-deci"></i>
                <div>
                  <h5>DECI - ADS</h5>
                  <div>
                    <p>Défense extérieure contre l’incendie
                    <ul>

                      <li>Déclaration point d’eau</li>

                      <li>Gestion des PEI</li>

                      <li>Géolocalisation</li>

                      <li>Reconnaissance opérationnelle annuelle</li>
                    </ul>
                    </p>
                  </div>
                </div>
                <div class="arrow-right d-flex align-items-center justify-content-end">
                  <i class="bi bi-arrow-right-square-fill fs-4"></i>
                </div>
              </div>
            </a>

            <a class="nav-link bg-transparent nav-secteur p-1" id="v-pills-icpe-tab" data-bs-toggle="pill"
              href="#nav-icpe" role="tab" data-bs-target=".icpe" aria-controls="#nav-icpe" aria-selected="false">
              <div class="d-flex gap-2">
                <i class="picto picto-icpe"></i>
                <div>
                  <h5>ICPE - Industrie</h5>
                  <div>
                    <p>
                    <ul>
                      <li>Suivi des établissements : code du travail, SEVESO, ICPE...</li>

                      <li>Gestion CODERST,</li>

                      <li>Planification,</li>

                      <li>Génération de rapports,</li>

                      <li>Main courante.</li>
                    </ul>
                    </p>
                  </div>
                </div>
                <div class="arrow-right d-flex align-items-center justify-content-end">
                  <i class="bi bi-arrow-right-square-fill fs-4"></i>
                </div>
              </div>
            </a>

            <a class="nav-link bg-transparent nav-secteur p-1" id="v-pills-manif-tab" data-bs-toggle="pill"
              href="#nav-manif" role="tab" data-bs-target=".manif" aria-controls="#nav-manif" aria-selected="false">
              <div class="d-flex gap-2">
                <i class="picto picto-manif align-self-start"></i>
                <div>
                  <h5>Manifestation - Rassemblement</h5>
                  <p>
                    Outil de planification pré-événement permet aux autorités locales et aux services d’incendie et de
                    secours et aux
                    services de secours de gérer efficacement les défis liés à la sécurité et à la prévention
                    des risques lors de grands rassemblements.
                  </p>
                </div>
                <div class="arrow-right d-flex align-items-center justify-content-end">
                  <i class="bi bi-arrow-right-square-fill fs-4"></i>
                </div>
              </div>
            </a>
          </div>

        </div>

        <div class="col-xl-6 pb-3 mt-8 d-none d-xl-block">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active erp" id="nav-erp"
              style="background-image: url(/img/secteurs-activites/erp.png);" role="tabpanel"
              aria-labelledby="v-pills-erp-tab">
              <img src="img/secteurs-activites/erp.png" style="visibility: hidden;" />
            </div>
            <div class="tab-pane fade deci" id="nav-deci"
              style="background-image: url(/img/secteurs-activites/DECI.png);" role="tabpanel"
              aria-labelledby="v-pills-deci-tab">
              <img src="img/secteurs-activites/DECI.png" style="visibility: hidden;" />
            </div>
            <div class="tab-pane fade icpe" id="nav-icpe"
              style="background-image: url(/img/secteurs-activites/icpe.svg);" role="tabpanel"
              aria-labelledby="v-pills-icpe-tab">
              <img src="img/secteurs-activites/icpe.svg" style="visibility: hidden;" />
            </div>
            <div class="tab-pane fade manif" id="nav-manif"
              style="background-image: url(/img/secteurs-activites/manif.svg);" role="tabpanel"
              aria-labelledby="v-pills-manif-tab">
              <img src="img/secteurs-activites/manif.svg" style="visibility: hidden;" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  {% comment %} <!-- CINQUIEME SECTION -->
  <!-- Carousel -->
  <!-- Un container-fluid -> une row -> une col btn previous -> une col avec les slides du carousel (postsCarousellist.liquid) -> une col btn next -> une row avec les buttons pour changer les slides --> {% endcomment %}
  <section class="fifthSection" id="fifthSection">
    <div class="container-fluid px-5 pb-5">
      <div class="row mb-5 mx-lg-8">
        <div class="col-xl-5">
          <div class="d-flex pb-3 align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">Les dernières nouveautés METARISC :</span>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="d-xl-flex d-none justify-content-end align-items-bottom pb-3 gap-2_5">
            {% include "socialslist.liquid" %}
          </div>
        </div>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide mt-4" data-bs-ride="carousel">
        <div class="row">
          <div class="col">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span aria-hidden="true">
                <i class="bi bi-arrow-left-square-fill fs-4"></i>
              </span>
              <span class="visually-hidden">Previous</span>
            </button>
          </div>
          <div class="col-9">
            <div class="carousel-inner mx-auto">
              {% assign slideslist = collections.post %}
              {% assign nbSlides = slideslist.length | divided_by: 3 | minus: 1 %}
              {% assign offsetNb = 0 %}
              {% for i in (0..nbSlides) %}
              {% if i == 0 %}
              <div class="carousel-item active justify-content-center">
                <div class="d-md-flex gap-4">
                  {% include "postsCarousellist.liquid" %}
                </div>
              </div>
              {% else %}
              <div class="carousel-item">
                <div class="d-md-flex gap-4">
                  {% include "postsCarousellist.liquid" %}
                </div>
              </div>
              {% endif %}
              {% assign offsetNb = offsetNb | plus: 3 %}
              {% endfor %}
            </div>
          </div>

          <div class="col">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span aria-hidden="true">
                <i class="bi bi-arrow-right-square-fill fs-4"></i>
              </span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col mt-2">
            <div class="carousel-indicators gap-2">
              {% for i in (0..nbSlides) %}
              {% if i == 0 %}
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}" class="active"
                aria-current="true" aria-label="Slide {{i | plus: 1}}"></button>
              {% else %}
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}"
                aria-label="Slide {{i | plus: 1}}"></button>
              {% endif %}
              {% endfor %}

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% comment %} 
  <!-- SIXIEME SECTION -->
  <!-- Une div "Contact" -->
  <!-- Un container -> une row -> une col avec un texte -> une col avec le bouton -->
  <!-- Problème avec les images "angle-dotted-lines.svg" pour les mettres dans les coins (inférieur gauche et supérieur droit) --> {% endcomment %}
  <section class="sixthSection">
    <div class="row w-75 mx-auto">
      {% include "contactRow.liquid" %}
    </div>
  </section>

</div>