---
layout: layouts/home.liquid
eleventyNavigation:
key: Home
order: 1
---

<div class="container-fluid">
  <div class="row">
    <div class="col padding">
      <div class="mx-5">
        <img src="/img/dots.svg" width="108" height="29" alt="">
        <h1 class="display-5 fw-bold"><span>METARISC</span>, portail unique pour des risques multiples</h1>
        <p>
          Un portail opérationnel unique conçu en mode SaaS, disponible à tout moment et en tout lieu,
          permettant de collecter, enregistrer et consulter vos données de prévention et de prévision.
        </p>
        <a class="btn btn-primary btn-md" href="#">Découvrir le projet</a>
        <div class="row">
          <a class="news my-4" href="#">
            <span class="label py-2 px-2">
              <span class="py-1 px-1 bg-warning">Important</span>
              Le site metarisc est en construction. Le release de la V.1 en Avril
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-6 screens">
    </div>
  </div>
</div>

<div class="bg-gray">
  <section class="secondSection">
    <div class="container-fluid px-5 pb-5">
      <div class="d-flex gap-4 pb-3 mt-5 pt-5">
        <img src="img/red-dot.svg" width="24" height="24" alt="">
        <h2>Un profil, une solution</h2>
      </div>
      <div class="row gap-4 my-3 mx-5">
        {% include "soluceslist.liquid" %}
      </div>
    </div>
  </section>

  <section class="thirdSection">
    <div class="container-fluid px-5">
      <div class="d-flex gap-4 pb-3 my-5 py-5">
        <iframe src="img/red-dot.svg" width="24" height="24" alt=""></iframe>
        <h2>Pourquoi choisir METARISC ?</h2>
      </div>
      <div class="row mb-5 mx-3">
        <nav>
          <ul class="nav nav-underline gap-4" id="nav-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#portail" id="nav-portail-tab" aria-current="page" data-bs-toggle="tab"
                data-bs-target="#portail" role="tab" aria-controls="#portail" aria-selected="true">Un portail unique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#demat" id="nav-demat-tab" data-bs-toggle="tab" data-bs-target="#demat"
                role="tab" aria-controls="#demat" aria-selected="false">Dématérialisation des processus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#securise" id="nav-securise-tab" data-bs-toggle="tab" data-bs-target="#securise"
                role="tab" aria-controls="#securise" aria-selected="false">Sécurisé</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#club" id="nav-club-tab" data-bs-toggle="tab" data-bs-target="#club" role="tab"
                aria-controls="#club" aria-selected="false">Club utilisateur</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="row">
        <div class="col tab-content" id="nav-tabContent">
          <div class="row mx-4" id="portail" role="tabpanel" aria-labelledby="nav-contact-tab">
            <h2><span>METARISC</span>, portail unique pour des risques multiples</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in aliquet turpis. Donec ipsum turpis,
              scelerisque et justo nec,
              iaculis consectetur urna. Vestibulum rutrum cursus orci nec pretium. Curabitur est lectus, convallis eu
              tincidunt vehicula, posuere nec lacus.
              Praesent porta odio ac dapibus auctor. Sed nec ornare odio, et gravida leo. Suspendisse egestas blandit
              porta. Pellentesque ac posuere nunc.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed mattis a lacus
              et iaculis. Proin quis malesuada felis.
              In rhoncus dapibus auctor. Donec tortor nisi, aliquet quis suscipit et, aliquet ut lacus. Ut vitae lectus
              commodo nunc accumsan maximus.
            </p>
            <br>
            <p>
              Cras non vestibulum enim, maximus mollis tortor. Nam non dapibus est, eget tempor lectus. Duis pulvinar
              tellus at mollis vehicula.
              Phasellus rutrum luctus velit, sed bibendum orci laoreet sed. Ut id molestie lectus, in gravida dui.
              Quisque
              id elit id justo dictum porta.
              In quis iaculis mauris. Nam ut mattis eros. Nunc condimentum tempor dui, sit amet porta sem tempor a.
              Duis dolor orci, aliquam sit amet ligula vel, tempor volutpat est. Ut augue justo, pellentesque id
              dignissim
              ac, fringilla at massa.
            </p>
            <br>
            <p>
              Nunc lectus non convallis pellentesque odio pellentesque ipsum :
              Amet quis porttitor vitae eget amet neque. Pharetra ornare nunc arcu faucibus hendrerit. Bibendum morbi
              cras habitant mauris elit condimentum dui eu cursus.
              Risus ut etiam euismod neque diam at morbi feugiat. Convallis viverra luctus mauris platea suscipit semper
              at nisi.
              Amet vitae nam ultrices ullamcorper rhoncus commodo sit. Eu ac feugiat volutpat eget quis dictum sit.
              Volutpat nunc mi amet velit eget. Commodo vitae arcu purus risus volutpat.
            </p>
            <div class="d-flex justify-content-center my-5">
              <a class="btn btn-primary btn-md w-auto" href="#">Bouton d'appel à l'action</a>
            </div>
          </div>

          <div class="col tab-pane" id="demat" role="tabpanel" aria-labelledby="nav-contact-tab">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos omnis excepturi nobis, nihil debitis quis eum
            perspiciatis cupiditate porro accusamus odio ad fuga doloremque illum necessitatibus placeat nemo! Harum,
            alias.
          </div>

          <div class="col tab-pane" id="securise" role="tabpanel" aria-labelledby="nav-contact-tab">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos omnis excepturi nobis, nihil debitis quis eum
            perspiciatis cupiditate porro accusamus odio ad fuga doloremque illum necessitatibus placeat nemo! Harum,
            alias.
          </div>

          <div class="col tab-pane" id="club" role="tabpanel" aria-labelledby="nav-contact-tab">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos omnis excepturi nobis, nihil debitis quis eum
            perspiciatis cupiditate porro accusamus odio ad fuga doloremque illum necessitatibus placeat nemo! Harum,
            alias.
          </div>
        </div>

        <div class="col">
          {% comment %} <img class="screen" src="img/screen.png" width="1300" height="926"> {% endcomment %}
          {% comment %} <img class="dotted-lines" src="img/dotted-lines.png" width="468" height="1046"> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
</div>