---
layout: layouts/home.liquid
eleventyNavigation:
key: Home
order: 1
---
<section class="firstSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col resize">
        <div class="h-100 d-flex align-items-center">
          <div class="mx-5">
            <img src="/img/dots.svg" width="108" height="29" alt="">
            <h1 class="display-5 fw-bold"><span>METARISC</span>, portail unique pour des risques multiples</h1>
            <p>
              Un portail opérationnel unique conçu en mode SaaS, disponible à tout moment et en tout lieu,
              permettant de collecter, enregistrer et consulter vos données de prévention et de prévision.
            </p>
            <a class="btn btn-primary btn-md mb-2" href="#">Découvrir le projet</a>
            <div class="row">
              <a class="news mt-4" href="#">
                <span class="label py-2 px-2">
                  <span class="py-1 px-1 bg-warning">Important</span>
                  Le site metarisc est en construction. Le release de la V.1 en Avril
                </span>
              </a>
            </div>
            <div class="scroll d-flex gap-2 pt-5 mt-5">
              <i class="bi bi-arrow-down-square-fill"></i>
              <p>SCROLL</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col screens">
      </div>
    </div>
  </div>
</section>

<div class="bg-gray pb-5">

  <section class="secondSection">
    <div class="container-fluid px-5 pb-5">
      <div class="d-flex gap-4 pb-3 mt-5 pt-5">
        <img src="img/red-dot.svg" width="24" height="24" alt="">
        <h2>Un profil, une solution</h2>
      </div>
      <div class="row gap-4 my-3 mx-5">
        {% include "soluceslist.liquid" %}
      </div>
    </div>
  </section>

  <section class="thirdSection">
    <div class="container-fluid hidden">
      <div class="row mb-5 mx-3 px-5">
        <div class="col-5">
          <div class="d-flex gap-4 pb-3 my-5 py-5">
            <img src="img/red-dot.svg" width="24" height="24" alt="">
            <h2>Pourquoi choisir METARISC ?</h2>
          </div>

          <nav>
            <ul class="nav nav-underline gap-4 mb-5" id="nav-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#portail" id="nav-portail-tab" aria-current="page" data-bs-toggle="tab"
                  data-bs-target="#portail" role="tab" aria-controls="#portail" aria-selected="true">Un portail
                  unique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#demat" id="nav-demat-tab" data-bs-toggle="tab" data-bs-target="#demat"
                  role="tab" aria-controls="#demat" aria-selected="false">Dématérialisation des processus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#securise" id="nav-securise-tab" data-bs-toggle="tab"
                  data-bs-target="#securise" role="tab" aria-controls="#securise" aria-selected="false">Sécurisé</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#club" id="nav-club-tab" data-bs-toggle="tab" data-bs-target="#club"
                  role="tab" aria-controls="#club" aria-selected="false">Club utilisateur</a>
              </li>
            </ul>
          </nav>

          <div class="tab-content" id="nav-tabContent">

            <div class="col tab-pane show active fade" id="portail" role="tabpanel" aria-labelledby="nav-portail-tab">
              <h2><span>METARISC</span>, portail unique pour des risques multiples</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in aliquet turpis. Donec ipsum
                turpis,
                scelerisque et justo nec,
                iaculis consectetur urna. Vestibulum rutrum cursus orci nec pretium. Curabitur est lectus, convallis eu
                tincidunt vehicula, posuere nec lacus.
                Praesent porta odio ac dapibus auctor. Sed nec ornare odio, et gravida leo. Suspendisse egestas blandit
                porta. Pellentesque ac posuere nunc.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed mattis a
                lacus
                et iaculis. Proin quis malesuada felis.
                In rhoncus dapibus auctor. Donec tortor nisi, aliquet quis suscipit et, aliquet ut lacus. Ut vitae
                lectus
                commodo nunc accumsan maximus.
              </p>
              <br>
              <p>
                Cras non vestibulum enim, maximus mollis tortor. Nam non dapibus est, eget tempor lectus. Duis pulvinar
                tellus at mollis vehicula.
                Phasellus rutrum luctus velit, sed bibendum orci laoreet sed. Ut id molestie lectus, in gravida dui.
                Quisque
                id elit id justo dictum porta.
                In quis iaculis mauris. Nam ut mattis eros. Nunc condimentum tempor dui, sit amet porta sem tempor a.
                Duis dolor orci, aliquam sit amet ligula vel, tempor volutpat est. Ut augue justo, pellentesque id
                dignissim
                ac, fringilla at massa.
              </p>
              <br>
              <p>
                Nunc lectus non convallis pellentesque odio pellentesque ipsum :
                Amet quis porttitor vitae eget amet neque. Pharetra ornare nunc arcu faucibus hendrerit. Bibendum morbi
                cras habitant mauris elit condimentum dui eu cursus.
                Risus ut etiam euismod neque diam at morbi feugiat. Convallis viverra luctus mauris platea suscipit
                semper
                at nisi.
                Amet vitae nam ultrices ullamcorper rhoncus commodo sit. Eu ac feugiat volutpat eget quis dictum sit.
                Volutpat nunc mi amet velit eget. Commodo vitae arcu purus risus volutpat.
              </p>
              <div class="d-flex justify-content-center my-5">
                <a class="btn btn-primary btn-md w-auto" href="#">Bouton d'appel à l'action</a>
              </div>
            </div>

            <div class="col tab-pane fade" id="demat" role="tabpanel" aria-labelledby="nav-demat-tab">
              <h2><span>METARISC</span>, portail unique pour des risques multiples</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in aliquet turpis. Donec ipsum
                turpis,
                scelerisque et justo nec,
                iaculis consectetur urna. Vestibulum rutrum cursus orci nec pretium. Curabitur est lectus, convallis eu
                tincidunt vehicula, posuere nec lacus.
                Praesent porta odio ac dapibus auctor. Sed nec ornare odio, et gravida leo. Suspendisse egestas blandit
                porta. Pellentesque ac posuere nunc.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed mattis a
                lacus
                et iaculis. Proin quis malesuada felis.
                In rhoncus dapibus auctor. Donec tortor nisi, aliquet quis suscipit et, aliquet ut lacus. Ut vitae
                lectus
                commodo nunc accumsan maximus.
              </p>
              <br>
              <p>
                Cras non vestibulum enim, maximus mollis tortor. Nam non dapibus est, eget tempor lectus. Duis pulvinar
                tellus at mollis vehicula.
                Phasellus rutrum luctus velit, sed bibendum orci laoreet sed. Ut id molestie lectus, in gravida dui.
                Quisque
                id elit id justo dictum porta.
                In quis iaculis mauris. Nam ut mattis eros. Nunc condimentum tempor dui, sit amet porta sem tempor a.
                Duis dolor orci, aliquam sit amet ligula vel, tempor volutpat est. Ut augue justo, pellentesque id
                dignissim
                ac, fringilla at massa.
              </p>
            </div>

            <div class="col tab-pane fade" id="securise" role="tabpanel" aria-labelledby="nav-securise-tab">
              <h2><span>Lorem</span> ipsum dolor sit amet consectetur adipisicing elit.</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in aliquet turpis. Donec ipsum
                turpis,
                scelerisque et justo nec,
                iaculis consectetur urna. Vestibulum rutrum cursus orci nec pretium. Curabitur est lectus, convallis eu
                tincidunt vehicula, posuere nec lacus.
                Praesent porta odio ac dapibus auctor. Sed nec ornare odio, et gravida leo. Suspendisse egestas blandit
                porta. Pellentesque ac posuere nunc.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed mattis a
                lacus
                et iaculis. Proin quis malesuada felis.
                In rhoncus dapibus auctor. Donec tortor nisi, aliquet quis suscipit et, aliquet ut lacus. Ut vitae
                lectus
                commodo nunc accumsan maximus.
              </p>
              <br>
              <p>
                Cras non vestibulum enim, maximus mollis tortor. Nam non dapibus est, eget tempor lectus. Duis pulvinar
                tellus at mollis vehicula.
                Phasellus rutrum luctus velit, sed bibendum orci laoreet sed. Ut id molestie lectus, in gravida dui.
                Quisque
                id elit id justo dictum porta.
                In quis iaculis mauris. Nam ut mattis eros. Nunc condimentum tempor dui, sit amet porta sem tempor a.
                Duis dolor orci, aliquam sit amet ligula vel, tempor volutpat est. Ut augue justo, pellentesque id
                dignissim
                ac, fringilla at massa.
              </p>
              <br>
              <p>
                Nunc lectus non convallis pellentesque odio pellentesque ipsum :
                Amet quis porttitor vitae eget amet neque. Pharetra ornare nunc arcu faucibus hendrerit. Bibendum morbi
                cras habitant mauris elit condimentum dui eu cursus.
                Risus ut etiam euismod neque diam at morbi feugiat. Convallis viverra luctus mauris platea suscipit
                semper
                at nisi.
                Amet vitae nam ultrices ullamcorper rhoncus commodo sit. Eu ac feugiat volutpat eget quis dictum sit.
                Volutpat nunc mi amet velit eget. Commodo vitae arcu purus risus volutpat.
              </p>
            </div>

            <div class="col tab-pane fade" id="club" role="tabpanel" aria-labelledby="nav-club-tab">
              <h2><span>Lorem</span> ipsum dolor sit, amet consectetur adipisicing elit.</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in aliquet turpis. Donec ipsum
                turpis,
                scelerisque et justo nec,
                iaculis consectetur urna. Vestibulum rutrum cursus orci nec pretium. Curabitur est lectus, convallis eu
                tincidunt vehicula, posuere nec lacus.
                Praesent porta odio ac dapibus auctor. Sed nec ornare odio, et gravida leo. Suspendisse egestas blandit
                porta. Pellentesque ac posuere nunc.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed mattis a
                lacus
                et iaculis. Proin quis malesuada felis.
                In rhoncus dapibus auctor. Donec tortor nisi, aliquet quis suscipit et, aliquet ut lacus. Ut vitae
                lectus
                commodo nunc accumsan maximus.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="dotted-lines"></div>
          <div class="screen mt-5"></div>
        </div>
      </div>

    </div>
  </section>

  <section class="fourthSection">
    <div class="container-fluid px-5 pb-5 mb-5 hidden">
      <div class="row gap-5 mt-3 mb-5 mx-5">
        <div class="col-4">
          <div class="d-flex gap-4 pb-3 mt-5 pt-5">
            <img src="img/red-dot.svg" width="24" height="24" alt="">
            <h2>Secteurs d'activités</h2>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam aperiam dignissimos harum officiis
            blanditiis
            numquam dolorem amet eum delectus voluptatem? Fugiat sunt in at quis deserunt, accusantium reiciendis modi
            facilis.
          </p>

          <div class="nav flex-column nav-pills gap-4 pt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <a class="nav-link active bg-transparent nav-secteur" id="v-pills-erp-tab" data-bs-toggle="pill"
              href="#nav-erp" role="tab" data-bs-target=".erp" aria-controls="#nav-erp" aria-selected="true">
              <div class="row">
                <div class="col-1">
                  <img src="img/secteurs-activites/picto-erp.svg" alt="">
                </div>
                <div class="col-10">
                  <h5 class="flex-grow-1">ERP - Habitation
                    - ADS</h5>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id cumque corrupti iure fugiat
                    accusantium
                    sapiente repellat, consecteturc.
                  </p>
                </div>
                <div class="col-1 d-flex align-items-center">
                  <i class="bi bi-arrow-right-square-fill fs-4"></i>
                </div>
              </div>
            </a>

            <a class="nav-link bg-transparent nav-secteur" id="v-pills-deci-tab" data-bs-toggle="pill" href="#nav-deci"
              role="tab" data-bs-target=".deci" aria-controls="#nav-deci" aria-selected="false">
              <div class="row">
                <div class="col-1">
                  <img src="img/secteurs-activites/picto-deci.svg" alt="">
                </div>
                <div class="col-10">
                  <h5 class="flex-grow-1">DECI
                    - ADS</h5>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id cumque corrupti iure fugiat
                    accusantium
                    sapiente repellat, consecteturc.
                  </p>
                </div>
                <div class="col-1 d-flex align-items-center">
                  <i class="bi bi-arrow-right-square-fill fs-4"></i>
                </div>
              </div>
            </a>

            <a class="nav-link bg-transparent nav-secteur" id="v-pills-icpe-tab" data-bs-toggle="pill" href="#nav-icpe"
              role="tab" data-bs-target=".icpe" aria-controls="#nav-icpe" aria-selected="false">
              <div class="row">
                <div class="col-1">
                  <img src="img/secteurs-activites/picto-icpe.svg" alt="">
                </div>
                <div class="col-10">
                  <h5 class="flex-grow-1">ICPE - Industrie
                  </h5>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id cumque corrupti iure fugiat
                    accusantium
                    sapiente repellat, consecteturc.
                  </p>
                </div>
                <div class="col-1 d-flex align-items-center">
                  <i class="bi bi-arrow-right-square-fill fs-4"></i>
                </div>
              </div>
            </a>

            <a class="nav-link bg-transparent nav-secteur" id="v-pills-manif-tab" data-bs-toggle="pill"
              href="#nav-manif" role="tab" data-bs-target=".manif" aria-controls="#nav-manif" aria-selected="false">
              <div class="row">
                <div class="col-1">
                  <img src="img/secteurs-activites/picto-manif.svg" alt="">
                </div>
                <div class="col-10">
                  <h5 class="flex-grow-1">Manifestation -
                    Rassemblement</h5>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id cumque corrupti iure fugiat
                    accusantium
                    sapiente repellat, consecteturc.
                  </p>
                </div>
                <div class="col-1 d-flex align-items-center">
                  <i class="bi bi-arrow-right-square-fill fs-4"></i>
                </div>
              </div>
            </a>
          </div>

        </div>
        <div class="col-6 pb-3 mt-5 pt-5">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active erp" id="nav-erp" role="tabpanel" aria-labelledby="v-pills-erp-tab">
            </div>
            <div class="tab-pane fade deci" id="nav-deci" role="tabpanel" aria-labelledby="v-pills-deci-tab"></div>
            <div class="tab-pane fade icpe" id="nav-icpe" role="tabpanel" aria-labelledby="v-pills-icpe-tab"></div>
            <div class="tab-pane fade manif" id="nav-manif" role="tabpanel" aria-labelledby="v-pills-manif-tab"></div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="fithSection">
    <div class="container-fluid px-5 pb-5">
      <div class="d-flex gap-4 pb-3 mt-5 pt-5">
        <img src="img/red-dot.svg" width="24" height="24" alt="">
        <h2>Les dernière nouveautés METARISC :</h2>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide mt-4" data-bs-ride="carousel">
        <div class="row">
          <div class="col">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span aria-hidden="true"><i class="bi bi-arrow-left-square-fill fs-4"></i></span>
              <span class="visually-hidden">Previous</span>
            </button>
          </div>
          <div class="col-9">
            <div class="carousel-inner mx-auto">

              <div class="carousel-item active">
                <div class="d-flex gap-4">
                  {% include "newslist.liquid" %}
                </div>
              </div>

              <div class="carousel-item">
                <div class="d-flex gap-3">
                  {% include "newslist.liquid" %}
                </div>
              </div>

              <div class="carousel-item">
                <div class="d-flex gap-3">
                  {% include "newslist.liquid" %}
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span aria-hidden="true"><i class="bi bi-arrow-right-square-fill fs-4"></i></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col mt-2">
            <div class="carousel-indicators gap-2">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="sixthSection">
    <div class="container-md bg-snow-gray my-5 rounded contact">
      <div class="row h-100 align-items-center">
        <div class="d-flex">
          <div class="bl-angle">
            <img src="/img/angle-dotted-lines.svg" alt="">
          </div>
          <div class="tr-angle">
            <img src="/img/angle-dotted-lines.svg" alt="">
          </div>
          <div class="col m-3">
            <h3>Vous êtes intéressé par <span class="text-danger">METARISC</span> ?</h3>
            <h3>Prenons contact !</h3>
          </div>
          <div class="col d-flex justify-content-center">
            <a class="btn btn-danger btn-lg border border-light px-5 my-auto" href="mailto:metarisc@sdis62.fr">Nous contacter</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>