---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.liquid
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

<div class="bg-gray">
  <div class="container">

    <div class="row mb-4 pt-4 pb-4 border-bottom">
      {% if tag == "post" %}
        <h1>Liste des posts</h1>
      {% else %}
        <p class="mt-4 mb-0">Catégorie</p>
        <h1 class="mt-0 mb-4" style="font-weight: 600;">{{ tag | upcase }}</h1>
      {% endif %}

    </div>
    {% assign postslist = collections[tag] %}

    <div class="row justify-content-around mb-5">
      {% include "postslist.liquid" %}
    </div>
  </div>
</div>