<!doctype html>
    <html lang="fr">
        <head>
            <meta charset="utf-8">
            <title>Metarisc</title>
            <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
            <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
        </head>
    <body>
        {{ content }}
    </body>
</html>