---
layout: layouts/offres.liquid
eleventyNavigation:
key: gestionnaires-eaux
order: 2
---

<div id="gest-eau" class="tab-pane show fade" role="tabpanel" aria-labelledby="nav-gest-eau-tab">
    <div class="row ms-3">
        <div class="col d-flex flex-wrap gap-3 my-auto justify-content-center me-8">
            <span class="fs-2">A venir prochainement !</span>
        </div>
    </div>
</div>