---
layout: layouts/offres.liquid
eleventyNavigation:
key: prefectures
order: 2
---
    
<div id="prefectures" class="tab-pane show fade" role="tabpanel" aria-labelledby="nav-prefectures-tab">
    <div class="row ms-3">
        <div class="col d-flex flex-wrap gap-3 my-auto justify-content-center me-8">
            <span class="fs-2">A venir prochainement !</span>
        </div>
    </div>
</div>