---
layout: layouts/offres.liquid
eleventyNavigation:
key: collectivites
order: 2
---

<div id="collectivites" class="tab-pane show fade" role="tabpanel" aria-labelledby="nav-collectivites-tab">
    <div class="row ms-3">
        <div class="col d-flex flex-wrap gap-3 my-auto justify-content-center me-8">
            {% include "collectiviteslist.liquid" %}
        </div>
    </div>
</div>