---
layout: layouts/home.liquid
eleventyNavigation:
key: mentionsLegales
order: 2
---

<div class="bg-gray">

  <section class="sectionMentions">
    <div class="container-fluid m-5">
      <div class="row mx-lg-8">
        <div class="col d-flex flex-column gap-4">
          Pour un plus grand respect des libertés de chacun, metarisc.fr respecte les dispositions suivantes.
          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">LOI DU 6 JANVIER 1978 RELATIVE À L’INFORMATIQUE ET AUX LIBERTÉS:</span>
          </div>
          <p>
            Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée et au Règlement Général sur la                                      
            Protection des Données (RGPD) du 25 mai 2018,
            vous disposez d'un droit d'accès, de rectification, de limitation, d'opposition, de suppression, et de portabilité
            des informations qui vous concernent.
            Vous pouvez exercer ces droits en nous contactant à l'adresse metarisc@sdis62.fr. Toutes les données personnelles
            collectées sont traitées avec la plus
            stricte confidentialité. Pour plus d'informations, veuillez consulter notre politique de confidentialité
            détaillée.
          </p>
          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">LOI DU 1ER AOÛT 2000 RELATIVE À LA LIBERTÉ DE COMMUNICATION:</span>
          </div>

          <p>Le site metarisc.fr est édité par le Groupement d'Intérêt Public METARISC.
            <ul>
              <li>Adresse : 18 rue René Cassin, 62223 SAINT-LAURENT-BLANGY</li>
              <li>Téléphone : 03.21.21.82.46</li>
              <li>E-mail : metarisc@sdis62.fr</li>
              <li>Directeur de la publication : Raymond GAQUERE Président du conseil d’administration du SDIS 62</li>
            </ul>
          </p>
          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">RECUEIL D’INFORMATIONS À CARACTÈRE NOMINATIF :</span>
          </div>

          <p>En vertu de la loi informatique et libertés du 6 janvier 1978, nous vous informons que les données à caractère                                      
      nominatif
      recueillies auprès des internautes par l’intermédiaire d’un formulaire ou autre ne sauraient, en aucun cas, être
      transmises,
      à titre gratuit ou onéreux, à des tiers personnes physiques ou morales pour une autre utilisation que celle prévue
      par le site
      (mise en relation des candidats avec les entreprises dépositaire d’une offre d’emploi).</p>
          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">TITULARITÉ DES DROITS :</span>
          </div>
          <p>
            Tous les éléments de ce site sont la propriété des éditeurs de ce site.<br>
            La protection de www.metarisc.fr relève, par conséquent, des législations nationales et internationales relatives                                    
            au droit de la propriété intellectuelle.<br>

            Dès lors, toute reproduction et/ou représentation et/ou rediffusion, en tout ou partie, sur tout support                                    
            électronique ou non, présent ou futur, sont interdites sauf autorisation expresse et préalable de l’éditeur.<br>
          </p>
          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">LIENS HYPERTEXTE:</span>
          </div>

          <p>Metarisc autorise tout site Internet ou tout autre support à citer le site ou à mettre en place un lien                                      
      hypertexte pointant vers l’adresse metarisc.fr.</p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">IDENTIFICATIONS:</span>
          </div>

          <p>
            Raison sociale : SDIS 62<br>

            Statut juridique : Etablissement public<br>

            Siège social : ZAL des Chemins Croisés 18 rue René Cassin 62223 Saint-Laurent-Blangy<br>

            Téléphone : 03.21.21.82.46<br>

            E-mail : metarisc@sdis62.fr<br>
          </p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">HÉBERGEMENT DU SITE :</span>
          </div>

          <p>L'hébergement du site est assuré par SCALEWAY 8 rue de la Ville l’Evêque, 75008 Paris,
            <a href="https://www.scaleway.com/fr/">www.scaleway.com/fr</a>
            .
          </p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">POLITIQUE DE CONFIDENTIALITÉ DÉTAILLÉE:</span>
          </div>

          <p>Notre politique de confidentialité détaillée explique comment nous collectons, utilisons, protégeons, et                                      
      partageons les données personnelles
      des utilisateurs de metarisc.fr. Cette politique couvre également les droits des utilisateurs concernant leurs
      informations personnelles.</p>

          <div class="d-flex align-items-center gap-2">
            <i class="picto-red-dot"></i>
            <span class="fs-2">MODIFICATION DES MENTIONS LÉGALES:</span>
          </div>

          <p>METARISC se réserve le droit de modifier les présentes mentions à tout moment. L'utilisateur est invité à les                                      
      consulter régulièrement.</p>
        </div>
      </div>
    </div>
  </section>
</div>